/*----------------------- Шрифты ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&family=Oswald:wght@700&display=swap');
/*----------------------- Обнуление ------------------------------ */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------------------- Основное ------------------------------ */
body{
 background: #E7E7E7;
}

.container{
	width: 1215px;
	margin-right: auto;
	margin-left: auto;
}

.header2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	color: #3B3B3B;
}

.paragraph{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: rgba(59, 59, 59, 0.8);
}

.lineVert span{
	display: block;
	width: 5px;
	height: 200px;
	left: 501px;
	top: 120px;
	background: rgba(59, 59, 59, 0.8);
}

.lineHor span{
	display: block;
	width: 200px;
	height: 5px;
	left: 501px;
	top: 120px;
	background: rgba(59, 59, 59, 0.8);
}

.psmall{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.1em;
}

.concept{
	width: 100%;
	height: 100%;
	background: url("../img/bg1.png") center/cover fixed no-repeat;
	display: flex;
}

.nav{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 37px;
}

.nav__burger{
	display: block;
	position: relative;
	width: 25px;
	height: 7px;
}

.nav__burger::before{
	content: '';
	background-color: #3B3B3B;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 0;
	transition: 0.5s;
}

.nav__burger::after{
	content: '';
	background-color: #3B3B3B;
	position: absolute;
	width: 20px;
	height: 2px;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}

.nav__languages{
	display: flex;
}

.nav__burger_line1{
	display: block;
	position: relative;
	right: 0;
	width: 25px;
	height: 20px;
}

.nav__languages_text{
  font-family: 'Montserrat',sans-serif;
  color: #3B3B3B;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

.nav__languages_text:hover{
	color: black;
}

.text_2{
	padding-left: 15px;
}

.concept__article{
	padding-left: 150px;
	width: 100%;
	height: 85%;
	display: inline-flex;
	align-items: center;
}

.concept__article_text{
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 144px;
}

.concept__article_subtitle{
	padding-left: 10px;
	position: absolute;
	width: 411px;
	height: 58px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #3B3B3B;
}

.about{
	height: 450px;
}

.about__article{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__article_item p{
	width: 700px;
	height: 190px;
	letter-spacing: 0.1em;
}

.gallery{
	width: 100%;
	height: 850px;
}

.gallery__article{
	padding-top: 46px;
}

.gallery__article_item{
	padding-top: 5px;
}

.gallery__article_item1{
	padding-top: 30px;
}

.gallery__slider{
	position: relative;
	height: 100%;
	padding-top: 40px;
}

.gallery__slider_item{
	box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.05);
}

.gallery__slider_item img{
	width: 370px;
	height: 500px;
	transition: 1s;
}

.gallery__slider_item img:hover{
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.42);
}

.slick-track{
	display: flex;
}

.slick-arrow{
	position: absolute;
	top: 50%;
	width: 40px;
	height: 75px;
}

.slick-arrow.slick-next{
	right: 0;
	font-size: 0;
	background-image: url('../img/galler__slider_arrow.svg');
	background-color: #E7E7E7;
}

.slick-list{
	width: 1140px;
	overflow: hidden;
}

.gallery__ref{
	padding-top: 30px;
	display: flex;
	align-items: center;
}

.gallery__ref_text a{
	color: rgba(59, 59, 59, 0.8);
	transition: 0.9s;
}

.gallery__ref_text a{
	color: #000000;
	transition: 0.9s;
}

.price{}

.price__article{
	width: 1050px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price__article_item{}

.price__article_item h2{
	width: 612px;
	height: 144px;
}

.price__tag{
	padding-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price__tag_item{
	width: 140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}

.price__tag_item a{
	color: #CBCBCB;
	transition: 0.8s;
}

.price__tag_item:hover{
	border: 1px solid #C4C4C4;
}

.price__tag_item a:hover{
	color: #000000;
}

.price__content{
	padding-top: 59px;
	display: flex;
	justify-content: space-between;
}

.price__content_pic{}

.price__content_pic img{
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.42);
}

.price__content_tag{
	position: relative;
	padding-left: 56px;
}

.price__content_tag h3{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: rgba(59, 59, 59, 0.8);
}

.price__content_tag p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.1em;
	color: rgba(59, 59, 59, 0.8);
}

.price__tag_first{}

.price__tag_first h3{}

.price__tag_first p{
	padding-top: 10px;
}

.price__tag_second{
	padding-top: 15px;
	display: flex;
}

.price__tag_secondOne{}

.price__tag_secondTwo{
	padding-left: 99px;
}

.price__tag_secondTwo p{
	padding-top: 5px;
}
.price__tag_button{
	position: absolute;
	bottom: 0;
}

.price__button{
	width: 160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #C4C4C4;
	transition: 1s;
}

.price__button h3{
	transition: 0.9s;
}

.price__button:hover{
	border: 0px solid #C4C4C4;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.42);
}

.price__button h3:hover{
	color: #000000;
}

.ref{
	padding-top: 171px;
	display: flex;
}

.ref__pic{
	position: relative;
	display: flex;
	justify-content: center;
	background: url("../img/ref__picture.png");
	width: 746px;
	height: 687px;
}

.ref__pic_articul{
	position: absolute;
	bottom: 30px;
}

.ref__pic_item{}

.ref__pic_item h2{
	color: #ffffff;
	padding-bottom: 5px;
}

.ref__pic_item p{
	color: #ffffff;
	width: 504.71px;
	height: 71px;
}

.ref__app{
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
}

.ref__app_body{
	position: absolute;
	margin-left: 239px;
}

.ref__app_item{}

.ref__app_input{}

.ref__app_input input{
	background-color: rgba(231, 231, 231, 1);
	border-bottom: 1px solid #000000;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.1em;
}

.ref__app_input ul{}

.ref__app_input li{
	padding-top: 35px;
}

.ref__app_input p{}

.ref__app_button{
	padding-top: 45px;
}

.ref__app_btn{
	width: 288px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #C4C4C4;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: rgba(59, 59, 59, 0.8);
	transition: 1s;
}

.ref__app_btn:hover{
	border: 0px solid #C4C4C4;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.42);
}

.ref__app_btn p{
	transition: 0.9s;
}

.ref__app_btn p:hover{
	color: #000000;
}

.footer{
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: rgba(59, 59, 59, 0.8);
}

.footer__menu{
	width: 552px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.1em;
}

.footer__menu p{
	transition: 1s;
}

.footer__menu p:hover{
	text-decoration: underline;
}
/*----------------------- media query ------------------------------ */
